.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-md);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #4f41bc;
  color: #ffff;
  height: 64px;
}

.header-container button {
  font-weight: bold;
}

.header-container .spacer {
  flex-grow: 1;
}