<div class="authContainer"> <mat-card>
    <div class="title">
      <h2>Registro</h2>
    </div>
    <form class="loginForm" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="loginInputs">
        <div class="inputContainerFirst">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="role">
              <mat-option value="client">Cliente</mat-option>
              <mat-option value="business">Negocio</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="inputContainerSecond">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="phone" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address" />
          </mat-form-field>
        </div>
      </div>
      <button class="loginButton" mat-flat-button type="submit" [disabled]="loading">Registrarse</button>
    </form>
    <a (click)="navigateTo('/login')">¿Ya tienes cuenta? Inicia sesión</a>
  </mat-card> </div>