@import url('../login/login.scss');

.loginInputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.inputContainerFirst,
.inputContainerSecond {
  width: 50%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
