.footer-container {
  background-color: var(--card-background-color);
  color: var(--text-color);
  padding: var(--spacing-lg);
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
  font-size: 0.9rem;
  font-weight: 300;
}

.footer-text {
  margin: 0;
}