@use "sass:color";
@use '@angular/material' as mat;
$deep-purple-blue: #5041BC;
$soft-gray: #F8F9FA;
$light-blue-gray: #AEC6CF;
$vibrant-yellow: #FFC300;
$dark-text: #2C2C2C;

:root {
  --primary-color: #{$deep-purple-blue};
  --primary-hover-color: #{color.adjust($deep-purple-blue, $lightness: -10%)};
  --background-color: #{$soft-gray};
  --card-background-color: #{$soft-gray};
  --text-color: #{$dark-text};
  --accent-color: #{$vibrant-yellow};
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}

body {
  display: block;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: auto;
}

.app {
  display: block;
  height: 100%;
}

.mat-mdc-text-field-wrapper {
  background-color: #ffffff !important;
  border-radius: 10px;
}

.mat-mdc-select-panel {
  background-color: #ffffff !important;
  border-radius: 10px;
}

.mat-datepicker-content {
  background-color: #fff !important;
}